<%= provide(:title, "Home")%>
<div class="center jumbotron">
  <div class="row">
      <% if logged_in? %>
      <div class="col-md-8 dash-center">
      <div class="col-md-3">
        <%= image_tag("magpie_logo.svg", alt: "Magpie", :height => 150, :class => "logodash") %>
      </div>
      <% else %>
      <div class="col-md-6">
      <% end %>
        <% if !logged_in? %>
          <h1>MAGPIE</h1>
          <h2><%= Rails.application.config.welcome_sentences.sample %></h2>
          <div class="row">
            <%= link_to "Try it out", users_path, method: :post, class: "btn btn-lg btn-info" %>
            <%= link_to "Register | Login", login_path, class: "btn btn-lg btn-primary" %>
          </div>
        <% else %>
          <h1>Welcome</h1>
          <h2>to your personal dashboard.</h2>
          <div class = "row">
            <%= link_to 'Start with a new project', new_user_project_path(current_user), :class => "btn btn-primary" %>
            <%= link_to 'Need some help?', help_path, :class => "btn btn-warning" %>
          </div>
        <% end %>
      </div>
      <% if !logged_in? %>
      <div class = "col-md-6">
        <h2>Very meaningful phrase for what magpie is for.</h2>
        <%= image_tag("introAbstract.png", alt: "overview", :height => 200, :class => "infig") %>
      </div>
      <% end %>
    </div>
</div>
<% if logged_in? %>
  <div class = "row">
    <aside class = "col-md-4">
      <section class = "user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class = "micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class = "col-md-8">
      <h3>Micropost Feeds</h3>
      <%-# empty div filled up with ajax's defined in micropost_feed_sync.coffee -%>
      <div id="micropost_feed_sync">
        <%= render :layout => false, file: 'shared/_feed' %>
      </div>
    </div>
  </div>
<% end %>
<% if !logged_in? %>
    <div class="institutesSelection">
      <h3> Stupid Information </h>
      <h2>A selection of institutes using Magpie or some other stupid information here.</h>
    </div>
    <div class="well col-md-12 plbot">
      <div class="col-md-3">
        <h4>Simplicity</h>
        <h5>Some information which is very important simply here.</h>
        <%= image_tag("simplicity.png", alt: "overview", :height => 100, :class => "figfeatures") %>
      </div>
      <div class="col-md-3">
        <h4>Flexibility</h>
        <h5>Some information which is very important simply here.</h>
        <%= image_tag("simplicity.png", alt: "overview", :height => 100, :class => "figfeatures") %>
      </div>
      <div class="col-md-3">
        <h4>Connectivity</h>
        <h5>Some information which is very important simply here.</h>
        <%= image_tag("simplicity.png", alt: "overview", :height => 100, :class => "figfeatures") %>
      </div>
      <div class="col-md-3">
        <h4>Reproducibility</h>
        <h5>Some information which is very important simply here.</h>
        <%= image_tag("simplicity.png", alt: "overview", :height => 100, :class => "figfeatures") %>
      </div>
    </div>
<% end %>
