<%= provide(:title, "Home")%>
<div class="center jumbotron">
  <h1>Welcome!</h1>
  <h2>This is your personal dashboard for the MAGPIE Project</h2>
  <% if !logged_in? %>
    <%= link_to "Register | Login", login_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Try as a guest", users_path, method: :post, class: "btn btn-lg btn-info" %>
  <% else %>
    <%= link_to 'Start with a new project', new_user_project_path(current_user), :class => "btn btn-primary" %>
  <% end %>
</div>
<% if logged_in? %>
  <div class = "row">
    <aside class = "col-md-4">
      <section class = "user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class = "micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class = "col-md-8">
      <h3>Micropost Feeds</h3>
      <%-# empty div filled up with ajax's defined in micropost_feed_sync.coffee -%>
      <div id="micropost_feed_sync">
        <%= render :layout => false, file: 'shared/_feed' %>
      </div>
    </div>
  </div>
<% end %>
