<%= provide(:title, "Home")%>
<div class="center jumbotron <%= 'jumbotrondash' if !logged_in?%>";>
  <div class="row">
      <% if logged_in? %>
      <div class="col-md-8 dash-center">
      <div class="col-md-3">
        <%= image_tag("magpie_logo.svg", alt: "Magpie", :height => 150, :class => "logodash") %>
      </div>
      <% else %>
      <div class="col-md-6">
      <% end %>
        <% if !logged_in? %>
          <%= image_tag("logofront.svg", alt: "Magpie", :height => 100) %>
          <h2>   <%= Rails.application.config.welcome_sentences.sample %></h2>
          <div class="row">
            <%= link_to "Try it out", users_path, method: :post, class: "btn btn-lg btn-info" %>
            <%= link_to "Register | Login", login_path, class: "btn btn-lg btn-primary" %>
          </div>
        <% else %>
          <h1>Welcome</h1>
          <h2>to your personal dashboard.</h2>
          <div class = "row">
            <%= link_to 'Start with a new project', new_user_project_path(current_user), :class => "btn btn-primary" %>
            <%= link_to 'Need some help?', help_path, :class => "btn btn-warning" %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
</div>
<% if logged_in? %>
  <%# TODO: Here we could put in NEWS! %>
<% end %>
<% if !logged_in? %>
    <div class="institutesSelection">
      <h3>With MAGPIE, you can execute biological models in the cloud. </h>
    </div>
    <div class="row">
      <div class="col-md-12 plbot features">
        <div class="col-md-3">
          <h4>Simplicity</h>
          <h5>Models, computation, and results in one place.</h><br>
          <%= image_tag("simplicity.png", alt: "overview", :height => 100, :class => "figfeatures") %>
        </div>
        <div class="col-md-3">
          <h4>Flexibility</h>
          <h5>Take all your existing models to the cloud.</h><br>
          <%= image_tag("flexibility.png", alt: "overview", :height => 100, :class => "figfeatures") %>
        </div>
        <div class="col-md-3">
          <h4>Connectivity</h>
          <h5>Share models and results with other researchers.</h><br>
          <%= image_tag("connectivity.png", alt: "overview", :height => 100, :class => "figfeatures") %>
        </div>
        <div class="col-md-3">
          <h4>Reproducibility</h>
          <h5>Automatic versioning in the background.</h><br>
          <%= image_tag("reproducibility.png", alt: "overview", :height => 100, :class => "figfeatures") %>
        </div>
      </div>
    </div>
<% end %>
