<%= provide(:title, "Home")%>
<div class="center jumbotron">
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="col-md-3">
          <%= image_tag("magpie_logo.svg", alt: "Magpie", :height => 150) %>
            </div>
        <h1>Welcome</h1>
        <% if !logged_in? %>
          <h2>to MAGPIE.</h2>
          <%= link_to "Try it out", users_path, method: :post, class: "btn btn-lg btn-info" %>
          <%= link_to "Register | Login", login_path, class: "btn btn-lg btn-primary" %>
        <% else %>
          <h2>to your personal dashboard.</h2>
          <%= link_to 'Start with a new project', new_user_project_path(current_user), :class => "btn btn-primary" %>
        <% end %>
      </div>
</div>
</div>
<% if logged_in? %>
  <div class = "row">
    <aside class = "col-md-4">
      <section class = "user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class = "micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class = "col-md-8">
      <h3>Micropost Feeds</h3>
      <%-# empty div filled up with ajax's defined in micropost_feed_sync.coffee -%>
      <div id="micropost_feed_sync">
        <%= render :layout => false, file: 'shared/_feed' %>
      </div>
    </div>
  </div>
<% end %>
