<%= simple_form_for(@model) do |f| %>

  <div class="form-inputs">
    <div class="field">
      <%= f.label "Source", required: true %><br />
      <%= f.file_field :source, required: true, title: "Drag or browse zipped model file here" %>
    </div>
    <%= f.input :name, required: true%>
    <%= f.input :description, required: true%>
    <%= f.input :help, required: false%>
    <%= f.input :citation, required: false%>
    <%= f.input :doi, required: false%>
    <div class="field">
      <%= f.label "#Hashtags" %>
      <%= f.text_field :usertags, required: false,class: 'typeahead form-control' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
