<div class="panel panel-primary">
  <div class="panel-heading">
    Project: <%= @model.name%>
    <% @model_hashtag = @model.hashtags.find_by(reserved: true) %>
    <% if !@model_hashtag.nil? %>
    <% if !current_user.hashtags.find_by(tag: @model_hashtag.tag) %>
      <%= link_to "Follow", { :controller => "users", :action => "hashtag_add", :user_id => current_user.id, :tag => @model_hashtag.tag }, :method => :get, :class => "btn btn-xs btn-info" %>
    <% else %>
      <%= link_to "Unfollow", { :controller => "users", :action => "hashtag_delete", :user_id => current_user.id, :tag => @model_hashtag.tag }, :method => :get, :class => "btn btn-xs btn-info"   %>
    <% end %>
    <% end %>
    <% if current_user == @model.user || current_user.admin? %>
    <%= link_to 'Edit', edit_model_path(@model), :class => "btn btn-xs btn-success"  %>
    <%= link_to 'Update', reupload_model_path(@model), :class => "btn btn-xs btn-success"  %>
    <%= link_to 'Destroy', @model, method: :delete, data: { confirm: 'Are you sure? This will delete all associated model files.' }, :class => "btn btn-xs btn-danger"  %>
    <% end %>
  </div>
  <div class="panel-body">
    <p>
      <strong>Model Administrator:</strong>
      <%= @model.user.name %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @model.name %>
    </p>

    <p>
      <strong>Stored at:</strong>
      <%= @model.path %>
    </p>

    <p>
      <strong>Main script:</strong>
      <%= @model.mainscript[@model.current_revision] %>
    </p>

    <p>
      <strong>Citation Info:</strong>
      <%= @model.citation %>
    </p>

    <p>
      <strong>DOI:</strong>
      <a target="_blank" href="http://doi.org/<%= @model.doi %>"><%= @model.doi %></a>
    </p>

    <p>
      <strong>Hashtags:</strong>
      <% @model.hashtags.each do |h|%>
      <% if h.reserved %>
      <b><%= hashtag_link(h.tag) %></b>
      <% else %>
      <%= hashtag_link(h.tag) %>
      <% end %>
      <% end %>
    </p>

    </p>
  </div>
</div>
