<div class="panel panel-primary">
  <div class="panel-heading">Project: <%= @model.name%></div>
  <div class="panel-body">
    <p>
      <strong>Model Administrator:</strong>
      <%= @model.user.name %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @model.name %>
    </p>

    <p>
      <strong>Stored at:</strong>
      <%= @model.path %>
    </p>

    <p>
      <strong>Main script:</strong>
      <%= @model.mainscript %>
    </p>

    <p>
      <strong>Citation Info:</strong>
      <%= @model.citation %>
    </p>

    <p>
      <strong>DOI:</strong>
      <a target="_blank" href="http://doi.org/<%= @model.doi %>"><%= @model.doi %></a>
    </p>

    <p>
      <strong>Hashtags:</strong>
      <% @model.hashtags.each do |h|%>
      <%= hashtag_link(h.tag) %>
      <% end %>
    </p>

    </p>
  </div>
</div>
