<%= simple_form_for(@model) do |f| %>

  <div class="form-inputs">
    <%= f.label :source %><br>
    <%= f.file_field :source,
                     required: true,
                     title: 'Drag or browse updated model',
                     id: 'file-inputs-model-reupload' %>
    <%= f.input :tag %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
