<%= simple_form_for(@model) do |f| %>

  <div class="form-inputs">
    <%= f.label :source %><br>
    <%= f.file_field :source, required: false %>
    <%= f.input :tag %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
