<h1>Available Models</h1>

<% Rails.application.config.model_categories.each do |category| %>
<% category_models = @models.where(:category => category) %>
<% if !category_models.blank? %>
<h2><%= category %></h2>
<% category_models.in_groups_of(4, false).each do |group| %>
<div class="row">
  <% group.each do |model| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= image_tag url_for(:controller => "models", :action => "show_logo", :id => model.id), size: "50"%>
      <div class="caption">
        <h2><%= model.name %></h2>
        <p><%= model.description.truncate(70, separator: ' ') %></p>
  <%= link_to "View", model_path(model), :class => "btn btn-xs btn-primary" %>
  <% @model = model %>
  <%= render :partial => "models/follow" %>

      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% end %>
<% end %>

<%=  %>
