<%= render :partial => "models/header" %>

<div class="panel panel-info">
  <div class="panel-heading">Description</div>
  <div class="panel-body">
    <%= markdown(@model.description) %>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Versions</div>
  <div class="panel-body">
    <ul>
    <% @model.versions.each do |tag| %>
    <li><%= "#{tag} | #{tag_to_revision(tag)}" %></li>
    <% end %>
  </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">Help</div>
  <div class="panel-body">
    <%= markdown(@model.help) %>
  </div>
</div>

<%= link_to 'Back', models_path %>
