<%= render :partial => "models/header" %>

<% if !@model.description.empty? %>
  <div class="panel panel-info">
    <div class="panel-heading">Description</div>
    <div class="panel-body">
      <%= markdown(@model.description) %>
    </div>
  </div>
<% end %>

<div class="panel panel-info">
  <div class="panel-heading">Versions</div>
  <div class="panel-body">
    <ul>
    <% @model.versions.each do |tag| %>
    <li>
      <%= link_to model_download_path(@model.id, @model.tag_to_revision(tag)), 'data-turbolinks' => false, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-download aria-hidden='false'"></span>
      <span> <%= tag %> </span>
      <% end %>
    </li>
    <% end %>
  </ul>
  </div>
</div>

<% if !@model.help.empty? %>
  <div class="panel panel-info">
    <div class="panel-heading">Help</div>
    <div class="panel-body">
      <%= markdown(@model.help) %>
    </div>
  </div>
<% end %>

<%= link_to 'Back', models_path %>
