<%

# Read in the config
config_lines = {}
File.open(config_file, "r") do |f|
  f.each_line do |line|
    @split_array = line.gsub(/\s+/m, ' ').strip.split(" ")
    config_lines[@split_array[0]] = Array(@split_array[1,@split_array.length])
  end
end

# Read in the data
data_lines = []
if File.exists? Pathname.new(config_file).dirname.to_s+"/"+config_lines["data"][0]
  File.open(Pathname.new(config_file).dirname.to_s+"/"+config_lines["data"][0]) do |f|
    f.each_line do |line|
      data_lines.push(line.gsub("\n", ""))
    end
  end
end

@array = []
data_lines.each do |line|
  @hash = {}
  line.split(",").each do |element|
    @kv = element.gsub(/\s+/m, ' ').strip.split(" ")
    @key = @kv[0]
    @value = @kv[1]
    @hash[@key] = @value.is_number? ? (@value.to_f) : (@value)
  end
  @array.push(@hash)
end

%>

<style type="text/css">
    #<%= raw "viz_#{job_id}_#{chart_id}" %> {
        position:relative;
        height:400px;
        width:720px;
    }
</style>

<meta charset="utf-8">

<div id = <%= raw "viz_#{job_id}_#{chart_id}".to_json %>></div>

<script type="text/javascript" id = <%= raw "sid_#{job_id}_#{chart_id}".to_json %>>

  var data = <%= raw @array.to_json %>;
  var plot_types = <%= raw config_lines['type'].to_json %>;

  //$(<%= raw "#viz_#{job_id}_#{chart_id}".to_json %>).click(function() {

    var visualization = d3plus.viz()
     .container(<%= raw "#viz_#{job_id}_#{chart_id}".to_json %>)
     .data(data)
     .type({
       "value": <%= raw "#{config_lines['type'][0]}".to_json %>
       })
     .id(<%= raw "#{config_lines['id'][0]}".to_json %>)
     .x(<%= raw "#{config_lines['x'][0]}".to_json %>)
     .y(<%= raw "#{config_lines['y'][0]}".to_json %>)
     <% if config_lines['type'].length > 1 %>
     .ui([{
          "label": "Visualization Type",
          "method": "type",
          "value": plot_types
      }])
     <% end %>
     .draw()

   //})

</script>
