<div class="panel <%= status_color_panel(job.id) %>">
  <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#alljobs" href="#<%=dom_id(job)%>">
        <b> Job ID: <%= job.id %> </b> | Created <%= time_ago_in_words(job.created_at) %> ago | Status: <%= job.status %>
      </a>
  </div>
  <div id="<%=dom_id(job)%>" class="panel-collapse collapse">

    <% if ['waiting', 'running'].include? job.status %>
    <div class="panel-body">
      Your job is still running. Please check again later.
      <div id = "running"></div>
    </div>
    <% end %>

    <% if !job.output.blank? %>
    <% if !job.output[:stdout].blank? %>
    <div class="panel-body">
      <b>STDOUT</b>
      <%= simple_format(job.output[:stdout].join()) %>
    </div>
    <% end %>

    <% if !job.output[:stderr].blank? %>
    <div class="panel-body">
      <b>STDERR | </b>
      <%= simple_format(job.output[:stderr].join()) %>
    </div>
    <% end %>
    <% end %>

    <% if !job.resultfiles.blank? %>
    <div class="panel-body">
      <b>Resultfiles</b><br><br>
      <% (job.resultfiles+
          Dir[job.directory+"/*.iplot"]).each_with_index do |element, i| %>
        <% if iplot?(element) %>
            <td>
              <%= render(:layout => false, :partial => "jobs/d3plus", :locals => {:config_file => element, :job_id => job.id, :chart_id => i})%>
            </td>
            <figcaption><%= "Fig #{i+1}, - #{File.basename(element)}" %></figcaption>
        <% elsif is_text_file(element)%>
        <pre>
          <%= render :plain => get_text_from_file(element)%>
        </pre>
        <figcaption><%= "Txt #{i+1}. - #{File.basename(element)}" %></figcaption>
        <% elsif is_image(element)%>
         <td><%= image_tag get_image_path(job.id, i) %>
           <figcaption><%= "Fig #{i+1}. - #{File.basename(element)}" %></figcaption>
         </td>
         <% else %>
           Additional file: <%= element %><br>
        <% end %>
        <br>
      <% end %>
    </div>

    <div class="panel-body">
      <%= link_to download_job_path(job.id), 'data-turbolinks' => false, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-download aria-hidden='false'"></span>
      <span><%= pluralize(numResultfiles(job), 'Result File') %></span><% end %>
      <%= link_to download_config_job_path(job.id), 'data-turbolinks' => false, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-download aria-hidden='false'"></span>
      <span> Config</span><% end %>
    </div>


    <% end %>

  </div>
</div>
