<%= stylesheet_link_tag 'modalJobs' %>
<div class="panel <%= status_color_panel(job.id) %>">
  <div class="panel-heading">
    <div class="btn-group btn-group-xs" role="group" aria-label="Basic example">
        <%= link_to highlight_job_path(job, job:{:id => job.id, :highlight => "activated"}), :method => :put, :class => "btn btn-secondary btn-link active #{job.highlight != "activated" ? 'active' : 'disabled'}" do%>
        <i class="glyphicon glyphicon-chevron-up"></i>
        <% end %>
        <%= link_to highlight_job_path(job, job:{:id => job.id, :highlight => "neutral"}), :method => :put, :class => "btn btn-secondary btn-link active #{job.highlight != "neutral" ? 'active' : 'disabled'}" do%>
        <i class="glyphicon glyphicon-stop"></i>
        <% end %>
        <%= link_to highlight_job_path(job, job:{:id => job.id, :highlight => "hidden"}), :method => :put, :class => "btn btn-secondary btn-link active #{job.highlight != "hidden" ? 'active' : 'disabled'}" do%>
        <i class="glyphicon glyphicon-chevron-down"></i>
        <% end %>
    </div>
      <a data-toggle="collapse" data-parent="#alljobs" href="#<%=dom_id(job)%>">
        <span align="center">
          <b>&nbsp&nbsp Job ID: <%= job.id %> </b> |
          Created <%= time_ago_in_words(job.created_at) %> ago |
          Status: <%= job.status %>
        </span>
      </a>
  </div>
  <div id="<%=dom_id(job)%>" class="panel-collapse collapse">

    <% if ['waiting', 'running'].include? job.status %>
    <div class="panel-body">
      Your job is still running. Please check again later.
      <div id = "running"></div>
    </div>
    <% end %>

    <% if !job.output.blank? %>
      <% if !job.output[:stdout].blank? %>
        <div class="panel-body">
          <b>STDOUT</b>
          <% if job.output[:stdout].join().length > 250 %>
            <div id = "read-more-stdout-job-<%= job.id %>">
              <%= simple_format truncate( job.output[:stdout].join(), :length => 250 ) %>
              <a href="javascript:void(0);" onclick="read_more_jobs(<%= job.id %>, 'stdout', <%= (simple_format job.output[:stdout].join()).to_json %>);">... read more</a>
            </div>
          <% else %>
            <%= simple_format job.output[:stdout].join() %>
          <% end %>
        </div>
      <% end %>

      <% if !job.output[:stderr].blank? %>
        <div class="panel-body">
          <b>STDERR | </b>
          <% if job.output[:stderr].join().length > 250 %>
            <div id = "read-more-stderr-job-<%= job.id %>">
              <%= simple_format truncate( job.output[:stderr].join(), :length => 250 ) %>
              <a href="javascript:void(0);" onclick="read_more_jobs(<%= job.id %>, 'stderr', <%= (simple_format job.output[:stderr].join()).to_json %>);">... read more</a>
            </div>
          <% else %>
            <% p (simple_format job.output[:stderr].join()).inspect %>
            <%= simple_format job.output[:stderr].join() %>
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if !job.resultfiles.blank? %>
    <% @additional_files = [] %>
    <% @vis_counter = 0 %>
    <% @additional_file = false %>
    <div class="panel-body">
      <div class="col-xs-12 col-md-12"><b>Resultfiles</b></div>
      <br /><br />
      <% (job.resultfiles+
          Dir[job.directory+"/*.iplot"]).each_with_index do |element, i| %>
        <% if @vis_counter == 0  && !@additional_file %>
          <div id = "blackRow", class = "col-xs-12 col-md-12"></div>
        <% end %>
        <% @additional_file = false %>
        <% if iplot?(element) %>
            <div class="col-xs-12 col-md-12"><center>
              <%= render(:layout => false, :partial => "jobs/d3plus", :locals => {:config_file => element, :job_id => job.id, :chart_id => i})%>
              <figcaption><%= "Fig. #{i+1} - #{File.basename(element)}" %></figcaption>
            </center></div>
            <% @vis_counter = 0 %>
        <% elsif is_text_file(element)%>
        <div class="col-xs-6 col-md-6">
          <div class= "img-thumbnail", data-toggle= "modal",
            data-target= "<%= "#modaljobID-#{job.id}-txtID-#{i+1}"%>">
            <pre>
              <%= render :plain => get_text_from_file(element)%>
            </pre>
          </div>
          <div id="modal<%= "jobID-#{job.id}-txtID-#{i+1}" %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><%= "Fig #{i+1}. - #{File.basename(element)}" %></h4>
                </div>
                <div class="modal-body">
                  <%= render :plain => get_text_from_file(element) %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
        <figcaption><%= "Txt. #{i+1} - #{File.basename(element)}" %></figcaption>
        </div>
        <% @vis_counter = (@vis_counter + 1).modulo(2) %>
        <% elsif is_image(element)%>
          <div class="col-xs-6 col-md-6">
            <%= image_tag(get_image_path(job.id, i),
              class: "img-thumbnail",
                "data-toggle": "modal",
                "data-target": "#modaljobID-#{job.id}-figID-#{i+1}") %>
                <figcaption><%= "Fig. #{i+1} - #{File.basename(element)}" %></figcaption>
          </div>
          <!-- Modal -->
          <div id="modal<%= "jobID-#{job.id}-figID-#{i+1}" %>" class="modal fade" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title"><%= "Fig #{i+1}. - #{File.basename(element)}" %></h4>
                </div>
                <div class="modal-body">
                  <%= image_tag(get_image_path(job.id, i), width: "100%") %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>
          <% @vis_counter = (@vis_counter + 1).modulo(2) %>
         <% else %>
           <% @additional_files.push(element) %>
           <% @additional_file = true %>
        <% end %>
      <% end %>
      <% if @additional_files.size() > 0 %>
        <div class="col-xs-12 col-md-12">Additional files:</div>
        <% @additional_files.each do |e| %>
          <div class="col-xs-12 col-md-12"><%= e %></div>
        <% end %>
      <% end %>
    </div>

    <div class="panel-body">
      <%= link_to download_job_path(job.id), 'data-turbolinks' => false, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-download aria-hidden='false'"></span>
      <span><%= pluralize(numResultfiles(job), 'Result File') %></span><% end %>
      <%= link_to download_config_job_path(job.id), 'data-turbolinks' => false, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-download aria-hidden='false'"></span>
      <span> Config</span><% end %>
    </div>


    <% end %>

  </div>

</div>
