<% provide(:title, @user.name) %>
<div class="row">
  <aside class ="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, "50" %>
        <%= @user.name %><b>  @<%=@user.identity%></b>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="tagcloud">
      <% @hashtags = @user.hashtags %>
      <%= render :partial => "hashtags/tagcloud", :locals => {:delete_links => true} %>
      <p></p>

    <% if policy(@user).update? %>
      <%= simple_form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.label "More hashtags" %>
          <%= f.text_field :new_hashtags,class: 'typeahead form-control' %>
        </div>

        <%= f.submit "Add", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% rel = Relationship.where(follower_id: current_user.id, followed_id: @user.id)%>
  <% if rel.empty? %>
    <%= link_to "Follow", { :controller => "relationships", :action => "create", :followed_id => @user.id }, :method => :post, :style => "color: white", :class => "btn btn-xs btn-info" %>
  <% else %>
    <%= link_to "Unfollow", relationship_path(rel.first.id), :method => :delete, :style => "color: white", :class => "btn btn-xs btn-info" %>
  <% end %>
  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
    <h3>Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
