<h4>Overview</h4>
<p>
  Configuration files are used to configure model instances, created within a job.
  This is also called the parametrization of a model. MAGPIE uses the configuration
  files for both generating the
  <b><a href="help?section=<%= section %>#configuration_input_form">configuration input forms</a></b>
  and creating the
  <b><a href="help?section=<%= section %>#configuration_instance_files">configuration instance files</a></b>
  used within a model run.
  Click <b><a href="help?section=<%= section %>#configuration_example"> here </a></b> if you want to jump to the examples section directly.
</p>

<h4>General</h4>
<p>
  Before starting a job (project creation or within a project itself) MAGPIE is
  collecting all config files associated with the project corresponding model.
  To make MAGPIE recognizing a config file the filename extension is supposed
  to be <b>.config</b>. Filenames itself can be chosen arbitrary.
  Within these config files the form output is created. More details on the form
  creation can be found in section
  <a href="help?section=<%= section %>#configuration_input_form">configuration input forms</a>.
  When the form input is finished, MAGPIE is collecting all information made by the user
  and creates the corresponding
  <a href="help?section=<%= section %>#configuration_instance_files">configuration instance files</a>.
  These files can be used by the model itself for read-in and usage of the particular instance.
</p>

<div id="configuration_input_form"><h4>Configuration Input Forms</h4>

  <h5> Structure </h5>
  <p>
    Every single element of the form consists of two lines in the corresponding
    config file. The <b>first line</b> is a <b>comment</b>, beginning with <b>#</b>
    and is used for the tooltip box in the config input form. The second line
    consists of all relevant information describing the parameter.
    Therefore, the most simple structure looks like the following:
    <% cfile = File.open(File.join(Rails.root, 'app', 'views', 'static', 'help', 'examplefiles', 'config', 'std.config')).read %>
    <%=raw CodeRay.scan(cfile, :bash).div(:line_numbers => :table) %>
    <caption>General structure of configuration files</caption><br /><br />
    MAGPIE supports the following types:
    <li>string</li>
    <li>numeric</li>
    <li>integer</li>
    <li>float</li>
    <li>double</li>
    <li>dropdown</li>
    <li>file</li>
    All possible types and how they are used is shown within the
    <b><a href="help?section=<%= section %>#configuration_example"> "Configuration Example" Model</a></b>.
  </p>

  <h5> Conditionals </h5>
  <p>
    Conditionals can be used to build switches within a config file.
    This gives the possiblity to show / hide configuration inputs in a form
    based on a dropdown menu.
    <% cfile = File.open(File.join(Rails.root, 'app', 'views', 'static', 'help', 'examplefiles', 'config', 'conditionals.config')).read %>
    <%=raw CodeRay.scan(cfile, :bash).div(:line_numbers => :table) %>
    <caption>Conditionals in a config file</caption><br /><br />
  </p>

</div>


<div id="configuration_instance_files"><h4>Configuration Instance Files</h4>
  <p>
    Configuration instance files correspond to a job and are generated automatically
    from the configuration input forms.
  </p>
</div>

<div id="configuration_example"><h4> Example </h4>
  <p>In the following configuration example all possible elements are shown:</p>
  <% cfile = File.open(File.join(Rails.root, 'app', 'views', 'static', 'help', 'examplefiles', 'config', 'elements.config')).read %>
  <%=raw CodeRay.scan(cfile, :bash).div(:line_numbers => :table) %>
  <caption>Simple configuration file</caption><br /><br />
  <p>The config file above generates the following input form (used when starting a project / job):</p>
  <div class="row">
    <div class="col-md-10 col-centered">
          <%=
          render :layout => false, partial: 'projects/modelconfig',
            locals: { :model_selected => Model.find_by(name: "Configuration & Parameter Example"),
                      :model_revision => "HEAD",
                      :f => nil }
          %>
    </div>
  </div>
  <caption>Config Input Form</caption>

  <p>When submitting such forms, a configuration instance is generated. These instance file
  are put to the job folder and thus can be used for running a model. In these files
  the type is left out, since this is already defined by the modeler and is not required
  to saved again for the instance. In case of a file upload, it looks like
  a simple string variable, with the difference that the file was uploaded and is available in
  the model running folder. Thus within the model it is accessable via the read in of
  corresponding variable name.</p>

  <p>The following configuration instance file was generated out of the configuration example above.</p>

  <% cfile = File.open(File.join(Rails.root, 'app', 'views', 'static', 'help', 'examplefiles', 'config', 'instance.config')).read %>
  <%=raw CodeRay.scan(cfile, :bash).div(:line_numbers => :table) %>
  <caption>Configuration instance file</caption><br /><br />

</div>
