<% if !@user_project.output[:stdout].blank? %>
<div class="panel panel-info">
  <div class="panel-heading">Output</div>
  <div class="panel-body">
    <%= @user_project.output[:stdout]%>
  </div>
</div>
<% end %>

<% if !@user_project.output[:stderr].blank? %>
<div class="panel panel-danger">
  <div class="panel-heading">Errors</div>
  <div class="panel-body">
    <%= @user_project.output[:stderr]%>
  </div>
</div>
<% end %>

<% if !@user_project.resultfiles.blank? %>
<div class="panel panel-success">
  <div class="panel-heading">Results</div>
  <div class="panel-body">
    <% @user_project.resultfiles.each do |element| %>
      <li><%= element %></li>
      <% if is_text_file(element)%>
      <pre>
        <%= render :plain => get_text_from_file(element)%>
      </pre>
      <% end %>
      <% if is_image(element)%>
       <td>Show image here ...</td>
      <% end %>
    <% end %>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Result Files Download</div>
  <div class="panel-body">
    <%= link_to "Download #{numResultfiles} result files as a zip archive.", download_user_project_path %>
  </div>
</div>
<% end %>
