<p id="notice"><%= notice %></p>

<h1>Listing User Projects</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Job</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_projects.each do |user_project| %>
      <tr>
        <td><%= user_project.user %></td>
        <td><%= user_project.job_id %></td>
        <td><%= user_project.name %></td>
        <td><%= link_to 'Show', user_project %></td>
        <td><%= link_to 'Edit', edit_user_project_path(user_project) %></td>
        <td><%= link_to 'Destroy', user_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User project', new_user_project_path %>
