<div class="panel panel-default">
  <div class="panel-heading">Project: <%= @user_project.name%></div>
  <div class="panel-body">
    <p>
      <strong>User:</strong>
      <%= @user_project.user %>
    </p>

    <p>
      <strong>Job:</strong>
      <%= @user_project.job_id %>
    </p>

    <p>
      <strong>Name:</strong>
      <%= @user_project.name %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @user_project.model %>
    </p>
    <p>
      <strong>Current Status:</strong>
      <%= @user_project.status %>
    </p>
  </div>
</div>

<%= render :partial => "user_projects/resultbox" if @user_project.status == "finished" %>

<%= link_to 'Edit', edit_user_project_path(@user_project) %> |
<%= link_to 'Back', user_projects_path %>
