<div class="panel panel-primary">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-eye-<%=@project.public ? 'open' : 'close'%>" aria-hidden="true"></span>
    Project | <%= @project.name%> |
      <% @project_hashtag = @project.hashtags.find_by(reserved: true) %>
      <% if !@project_hashtag.nil? %>
      <% if !current_user.hashtags.find_by(tag: @project_hashtag.tag) %>
        <%= link_to "Follow", { :controller => "users", :action => "hashtag_add", :user_id => current_user.id, :tag => @project_hashtag.tag }, :method => :get, :style => "color: white", :class => "btn btn-xs btn-info" %>
      <% else %>
        <%= link_to "Unfollow", { :controller => "users", :action => "hashtag_delete", :user_id => current_user.id, :tag => @project_hashtag.tag }, :method => :get, :style => "color: white", :class => "btn btn-xs btn-info" %>
      <% end %>
      <% end %>
  </div>
  <div class="panel-body">
    <p>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
      <%= @project.user.name %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @project.model ? "#{File.basename(@project.model.name)} | Version #{@project.tag}" : 'Deleted model'%>
    </p>

    <p>
      <strong>Hashtags:</strong>
      <% @project.hashtags.each do |h| %>
      <% if h.reserved %>
      <b><%= hashtag_link(h.tag) %></b>
      <% else %>
      <%= hashtag_link(h.tag) %>
      <% end %>
      <% end %>
    </p>

    <p>

    </p>


  </div>
</div>
