<% if model_description == "nil" %>
  Select a model to see model information!
<% else %>
<%= markdown(model_description) %>
<% end %>
<% if !citation.blank? %>
<p><%= citation %></p>
<% end %>
<% if !doi.blank? %>
<p>
  <b>DOI: </b>
  <a target="_blank" href="http://doi.org/<%= doi %>"><%= doi %></a>
</p>
<% end %>
<% if !model_help.blank? %>
  <hr>
  <b>Model Help</b>
  <%= markdown(model_help) %>
<% end %>
