<% if model_description == "nil" %>
<% else %>
  <% @config_files, status = Open3.capture2("cd #{model_selected.path}; git ls-tree -r HEAD --name-only | grep '.config$'")%>
  <% @config_files = @config_files.split %>
  <% if @config_files.length == 0 %>
  <div class = "col-md-12">
    <div class = "panel-info">
      <div class = "panel-heading">
        <center>No config file found!</center>
        <center><%= model_selected.path+"/*.config" %></center>
      </div>
    </div>
  </div>
  <% else %>
    <% if f == nil %>
    <%= simple_form_for :config, :html => { :class => 'form-horizontal' },
              wrapper: :horizontal_form do |f| %>
    <%  for @cfile in @config_files %>
        <div class = "col-md-12">
          <div class = "panel-info">
            <div class = "panel-heading">
              <center><%= @cfile %></center>
            </div>
            <div class = "panel-body">
              <%
                require("csv")
                @content, status = Open3.capture2("cd #{model_selected.path}; git cat-file blob #{@project.revision}:#{@cfile}")
                @file_string = CSV.parse(@content)

                @comment = ""
                @param_name = ""
                @param_type = ""
                @param_representation = ""
                @param_default = ""
                @param_min = ""
                @param_max = ""

                %>

                <%= render :layout => false, partial: 'projects/configinputgenerator',
                      locals: { :model_description => model_description,
                                :model_selected => model_selected,
                                :f => f} %>
          <% end #simple form %>
          <% end %>
          <% else %>
          <%  for @cfile in @config_files %>
              <div class = "col-md-12">
                <div class = "panel-info">
                  <div class = "panel-heading">
                    <center><%= @cfile %></center>
                  </div>
                  <div class = "panel-body">
                    <%
                      require("csv")
                      @content, status = Open3.capture2("cd #{model_selected.path}; git cat-file blob #{@project.revision}:#{@cfile}")
                      @file_string = CSV.parse(@content)

                      @comment = ""
                      @param_name = ""
                      @param_type = ""
                      @param_representation = ""
                      @param_default = ""
                      @param_min = ""
                      @param_max = ""

                      %>
          <%= f.simple_fields_for :config, :html => { :class => 'form-horizontal' },
                    wrapper: :horizontal_form do |job_form| %>
            <%= render :layout => false, partial: 'projects/configinputgenerator',
                  locals: { :model_description => model_description,
                            :model_selected => model_selected,
                            :f => job_form} %>
          <% end %>
          <%end%>
          </div>
        </div>
      </div>
  <% end %>
  <% end %>
<% end %>
