<% if model_selected == NIL %>
<% else %>
  <% @config_files, status = Open3.capture2("cd #{model_selected.path}; git ls-tree -r #{model_revision} --name-only | grep '.config$'")%>
  <% @config_files = @config_files.split %>
  <% if @config_files.length != 0 %>
    <% if f == nil %>
    <div class = "col-md-12">
      <b>Model Configs</b>
    </div>
    <%= simple_form_for :config, :html => { :class => 'form-horizontal' },
              wrapper: :horizontal_form do |f| %>
    <%  for @cfile in @config_files %>
        <div class = "col-md-12">
          <div class = "panel-group">
            <div class = "panel panel-default">
            <div class = "panel-heading" data-toggle="collapse" href = "<%= '#collapse_config_'+@cfile.split(".")[0] %>">
              <a class="btn btn-info btn-block" role="button" data-toggle="collapse" href="<%= '#collapse_config_'+@cfile.split(".")[0] %>"
                aria-expanded="true" aria-controls="<%= 'collapse_config_'+@cfile.split(".")[0] %>">
                <%= @cfile %>
              </a>
            </div>
            <div id = "<%= 'collapse_config_'+@cfile.split(".")[0] %>" class = "
              <%=
                  if @cfile == @config_files.last
                    'panel-body collapse in'
                  else
                    'panel-body collapse'
                  end
              %>">
              <%
                require("csv")
                #@content, status = Open3.capture2("cd #{model_selected.path}; git cat-file blob #{@project.revision}:#{@cfile}")
                @content, status = Open3.capture2("cd #{model_selected.path}; git cat-file blob #{model_revision}:#{@cfile}")
                @file_string = CSV.parse(@content)

                @comment = ""
                @param_name = ""
                @param_type = ""
                @param_representation = ""
                @param_default = ""
                @param_min = ""
                @param_max = ""

                %>

                <%= render :layout => false, partial: 'projects/configinputgenerator',
                      locals: { :f => f} %>

          </div>
        </div>
      </div>
    </div>
        <% end #simple form %>
      <% end %>
      <% else %>
          <%  for @cfile in @config_files %>
              <div class = "col-md-12">
                  <div class = "panel panel-default">
                  <div class = "panel-heading" data-toggle="collapse" href = "<%= '#collapse_config_'+@cfile.split(".")[0] %>">
                    <a class="btn btn-info btn-block" role="button" data-toggle="collapse" href="<%= '#collapse_config_'+@cfile.split(".")[0] %>"
                      aria-expanded="true" aria-controls="<%= 'collapse_config_'+@cfile.split(".")[0] %>">
                      <%= @cfile %>
                    </a>
                  </div>
                  <div id = "<%= 'collapse_config_'+@cfile.split(".")[0] %>" class = "
                    <%=
                        if @cfile == @config_files.last
                          'panel-body collapse in'
                        else
                          'panel-body collapse'
                        end
                    %>">
                    <%
                      require("csv")
                      @content, status = Open3.capture2("cd #{model_selected.path}; git cat-file blob #{@project.revision}:#{@cfile}")
                      @file_string = CSV.parse(@content)

                      @comment = ""
                      @param_name = ""
                      @param_type = ""
                      @param_representation = ""
                      @param_default = ""
                      @param_min = ""
                      @param_max = ""

                      %>
          <%= f.simple_fields_for :config, :html => { :class => 'form-horizontal' },
                    wrapper: :horizontal_form do |job_form| %>

              <%= render :layout => false, partial: 'projects/configinputgenerator',
                    locals: { :f => job_form} %>

          <% end %>
                </div>
              </div>
            </div>
          <%end%>
  <% end %>
  <% end %>
<% end %>
