<% if !@project.output[:stdout].blank? %>
<div class="panel panel-info">
  <div class="panel-heading">Output</div>
  <div class="panel-body">
    <%= @project.output[:stdout]%>
  </div>
</div>
<% end %>

<% if !@project.output[:stderr].blank? %>
<div class="panel panel-danger">
  <div class="panel-heading">Errors</div>
  <div class="panel-body">
    <%= @project.output[:stderr]%>
  </div>
</div>
<% end %>

<% if !@project.resultfiles.blank? %>
<div class="panel panel-success">
  <div class="panel-heading">Results</div>
  <div class="panel-body">
    <% @project.resultfiles.each_with_index do |element, i| %>
      <% if is_text_file(element)%>
      <pre>
        <%= render :plain => get_text_from_file(element)%>
      </pre>
      <figcaption><%= "Txt #{i+1}. - #{File.basename(element)}" %></figcaption>
      <% elsif is_image(element)%>
       <td><%= image_tag get_image_path(i) %>
         <figcaption><%= "Fig #{i+1}. - #{File.basename(element)}" %></figcaption>
       </td>
       <% else %>
         <li><%= element %></li>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Result Files Download</div>
  <div class="panel-body">
    <%= link_to "Download #{numResultfiles} result files as a zip archive.", user_project_download_path(current_user, @project) %>
  </div>
</div>
<% end %>
