<h1>Projects</h1>

<%@public_projects = @public_projects.joins(:user).where(:users => {:bot => false}) %>

<% if @projects.length == 0 and @public_projects.length == 0%>
<center>
<h4>You have no projects yet.</h4>
<%= link_to 'Create your first one!', new_user_project_path(current_user), :class => "btn btn-primary" %>
</center>
<% else %>

<% if @projects.where(:public => false).length == 0 %>
<center>
<h2>No Private Projects</h2>
</center>
<% else %>

<h2>Private Projects</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Model</th>
      <th># Jobs</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.where(:public => false).each do |project| %>
    <tr>
        <td>
          <div class="btn-group btn-group-xs" role="group">
            <%= link_to toggle_public_project_path(project, project:{:id => project.id}), :method => :put, :class => "btn btn-secondary btn-link btn-xs active activated" do%>
              <i class="glyphicon glyphicon-eye-<%=project.public ? 'open' : 'close'%>"></i>
            <% end %>
            <%= link_to project_path(project), method: :delete, data: { confirm: 'Are you really sure you want to delete this project?' }, class: "btn btn-secondary btn-link btn-xs active activated" do %>
              <span class="glyphicon glyphicon-remove aria-hidden='false'"></span>
            <% end %>
          </div>
        </td>
        <td><a class = "dont-propagate-in-project-a-href" href = '<%= project_path project%>'><%= project.name %></a></td>
        <td><a class = "dont-propagate-in-project-a-href" href = '<%= model_path project.model%>'><%= project.model ? project.model.name : 'Deleted model' %></a></td>
        <td><%= project.jobs.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>


<% if @public_projects.length == 0 %>
<center>
<h2>No Public Projects</h2>
</center>
<% else %>

<h2>Public Projects</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Created by</th>
      <th>Name</th>
      <th>Model</th>
      <th># Jobs</th>
    </tr>
  </thead>


  <tbody>
    <% @public_projects.each do |project| %>
      <tr>
        <td>
          <%= link_to toggle_public_project_path(project, project:{:id => project.id}), :method => :put, :class => "btn btn-secondary btn-link btn-xs active activated" do%>
            <i class="glyphicon glyphicon-eye-<%=project.public ? 'open' : 'close'%>"></i>
          <% end %>
        </td>
        <td><a class = "dont-propagate-in-project-a-href" href = '<%= user_path project.user%>'><%= project.user.name %></a></td>
        <td><a class = "dont-propagate-in-project-a-href" href = '<%= project_path project%>'><%= project.name %></a></td>
        <td><a class = "dont-propagate-in-project-a-href" href = '<%= model_path project.model%>'><%= project.model ? project.model.name : 'Deleted model' %></a></td>
        <td><%= project.jobs.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% end %>
<% end %>
