<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<footer class="footer">
  <nav class="navbar" role="navigation">
    <ul class='navbar-left'>
      <li><%= link_to image_tag("logo_carus.png", alt: "UK Carl Gustav Carus Dresden", :height => 20),
          'http://uniklinikum-dresden.de', :target => "_blank" %></li>
      <li><%= link_to image_tag("logo_TUD.png", alt: "TU Dresden", :height => 20),
          'http://tu-dresden.de', :target => "_blank" %></li>
      <li><%= link_to image_tag("logo_biotec.jpg", alt: "Bioinnovationszentrum", :height => 20),
              'http://biotec.tu-dresden.de', :target => "_blank" %></li>
    </ul>

<% if logged_in? %>
    <div class = 'navbar-brand'>
      <ul>
        <li><%= image_tag("queue_single.svg", alt: "Magpie", :height => 15)%>
          <span id = "queued_jobs_me"> <%= count_jobs_user("waiting") %> </span></li>
        <li><%= image_tag("queue_all.svg", alt: "Magpie", :height => 15)%>
          <span id = "queued_jobs_all"> <%= count_jobs("waiting") %> </span></li>
        <li><font color = "orange">&#149;</font>
          <span id = "jobs_running"> <%= count_jobs_user("running") %> </span></li>
        <li><font color = "green">&#149;</font>
          <span id = "jobs_finished"> <%= count_jobs_user("finished") %> </span></li>
        <li><font color = "red">&#149;</font>
          <span id = "jobs_failed"> <%= count_jobs_user("failed") %> </span></li>
      </ul>
    </div>
<% end %>

    <ul class='navbar-right'>
      <li><%= link_to image_tag("magpie_logo.svg", alt: "Magpie", :height => 20),
              'https://magpie.imb.medizin.tu-dresden.de', :target => "_blank" %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
