<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<footer class="footer">
  <nav class='navbar-left'>
    <ul>
      <li><%= link_to image_tag("logo_carus.png", alt: "UK Carl Gustav Carus Dresden", :height => 20),
          'http://uniklinikum-dresden.de', :target => "_blank" %></li>
      <li><%= link_to image_tag("logo_TUD.png", alt: "TU Dresden", :height => 20),
          'http://tu-dresden.de', :target => "_blank" %></li>
      <li><%= link_to image_tag("logo_biotec.jpg", alt: "Bioinnovationszentrum", :height => 20),
              'http://biotec.tu-dresden.de', :target => "_blank" %></li>
    </ul>
  </nav>

<% if logged_in? %>
  <nav class='navbar-left'>
    <div id='jobs_status_sync'></div>
  </nav>
<% end %>

  <nav class='navbar-right'>
    <ul>
      <li><%= link_to image_tag("magpie_logo.svg", alt: "Magpie", :height => 20),
              'https://magpie.imb.medizin.tu-dresden.de', :target => "_blank" %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
